---

---

<footer class="footer">
	<div class="inner-wrapper inner-wrapper--footer">
		<p>Developed with &hearts; by <a href="https://pedromartins.github.io" class="u-link">Pedro Martins</a></p>
	</div>
</footer>

<style>
	.inner-wrapper--footer {
		padding-block: 1.5rem;
		text-align: center;
	}
</style>
