---

---

<header class="header">
	<div class="inner-wrapper inner-wrapper--header">
		<div class="logo">IMAGEN UI</div>
	</div> 
</header>

<style lang="less">
    .inner-wrapper--header {
        padding-block: 1.5rem; 
    }

    .header {
        box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    }

    .logo {
        font-size: 1.8rem;
    }
</style>