
---
const {title} = Astro.props;
---

<div class="header">
    <a href="/" class="u-link homeLink"> &lt; </a>
    <h1 class="title"> {title} </h1>
</div>
<div class="content">
    <slot />
</div>

<style>
    .header {
        align-items: center;
        display: flex;
    }

    .homeLink {
        background-color: var(--font-color);
        border-radius: 6px;
        color: #fff;
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        height: 42px;
        line-height: 42px;
        margin-inline-end: 1.5rem;
        text-align: center;
        width: 42px;
    }
</style>
